.panel.panel-default
  .panel-body
    = simple_form_for [:admin, @voter], html: {class:  'form-horizontal', validate: false, 'data-parsley-validate' => true } do |f|
      .col-lg-6
        = f.input :name, label: 'Nombre', required: true
        = f.input :f_last_name, label: 'Primer apellido', required: true
        = f.input :s_last_name, label: 'Segundo apellido'
        = f.input :birth_date, label: 'Fecha de nacimiento'
        = f.input :street, label: 'Calle', required: true
        = f.input :ext_num, label: 'Numero Ext.', required: true
        = f.input :int_num, label: 'Numero Int.'
        = f.input :neighborhood, label: 'Colonia', required: true
        = f.input :email, label: 'Correo electronico'
        = f.input :password, as: :password, label: 'Contraseña'
        = f.input :electoral_number, label: 'Clave electoral'
        = f.input :phone_number, label: 'Telefono'
        = f.input :social_network, label: 'Red social'
        = f.input :active, as: :boolean
        .form-group
          = f.button :submit, 'Guardar', class: 'btn btn-success'