.panel.panel-default
  .panel-body
    = simple_form_for [:admin, @voter], html: {class:  'form-horizontal' }, validate: true do |f|
      .col-lg-6
        = f.input :name, label: 'Nombre', required: true
        = f.input :f_last_name, label: 'Primer apellido', required: true
        = f.input :s_last_name, label: 'Segundo apellido', required: true
        = f.input :address, label: 'Dirección', required: true
        = f.input :email, label: 'Correo electronico', required: true
        = f.input :password, as: :password, label: 'Contraseña'
        = f.input :electoral_number, label: 'Clave electoral'
        = f.input :phone_number, label: 'Telefono'
        = f.input :social_network, label: 'Red social'
        = f.input :active, as: :boolean
        .form-group
          = f.button :submit, 'Guardar', class: 'btn btn-success'