.well.well-lg
  .row
    .col-xs-12
      %h4.text-muted
        Buscar manzana
  = simple_form_for :search, { url: admin_squares_path, method: :get, defaults: {required: false} } do |f|
    .row
      .col-xs-4
        = f.input :name, label: 'Nombre de manzana'
    .btn-group
      =link_to 'Crear manzana', new_admin_square_path, class: 'btn btn-success'
      = f.button :submit, value: 'Buscar', class: 'btn btn-default'

.col-xs-12
  %h1
    Lista de manzanas

  -unless @squares.empty?
    %table.table.table-hover
      %thead
        %tr
          %th Id
          %th Nombre
          %th Zona
          %th Sección
          %th Coordinador

      -@squares.each_with_index do |square,index|
        %tr
          %td=square.id
          %td=square.name
          %td=square.zone.name
          %td=square.section.name
          %td=square.voter ? square.voter.full_name : 'No asignado'
          %td
            = link_to 'Ver', admin_square_path(square.id)
            |
            = link_to 'Editar', edit_admin_square_path(square.id)
            |
            = link_to 'Borrar', admin_square_path(square.id), method: :delete, data: { confirm: 'Desea eliminar la manzana?' }

  -else
    %h4
      No hay manzanas registradas
