.panel.panel-default
  .panel-heading
    %b
      = @square.name.titleize

  .panel-body
    .col-md-12
      .col-md-6
        %div
          %b
            Sección: 
          = @square.section.with_parents_name
        %div
          %b
            Coordinador:
          = coordinator_name(@square)
        %div
          %b
            Activa:
          = active_label(@square)
    .col-md-12
      .col-md-6
        Simpatizantes
        %ol
          - @square.voters.each do |voter|
            %li
              = voter.full_name

.col-md-12.text-right.bottom
  = link_to 'Lista de manzanas', admin_squares_path, class: 'btn btn-default'

