= content_for :javascript do
  = javascript_include_tag 'messages'

.panel.panel-default
  .panel-heading
    %b
      Nuevo mensaje
  .panel-body
    = simple_form_for [:admin, @message], html: {multiple: true, multipart: true, class:  'form-horizontal' }, validate: true do |f|
      .col-xs-12
        .col-xs-5
          = f.input :msg_type, as: :select, label: 'Tipo', required: true, collection: [['Texto', 'text'],['Video', 'video']], selected: "#{@message.msg_type || 'text'}"

      .col-xs-12
        .col-xs-5
          = f.input :content_text, label: 'Contenido', required: true, wrapper_html: { class: "#{'hidden' if @message.msg_type == 'video'}"}
      .col-xs-12
        .col-xs-5
          = f.input :content_video, as: :file, label: 'Contenido(video max 10 Mb)', required: true, wrapper_html: { class: "#{'hidden' if @message.msg_type == 'text' || @message.msg_type.blank?}" }

      .col-xs-12
        %h4 Mensaje dirigido a:
        .col-xs-5
          = f.input :group_type, as: :select, label: 'Seleccione tipo agrupación', required: true, collection: [['Zonas', 'zones'], ['Secciones', 'sections'], ['Manzanas', 'squares']], selected: "#{@message.group_type || 'zones'}"

      .col-xs-12
        .col-xs-5
          = f.input :zones_ids, as: :select, label: 'Seleccione zonas', required: true, collection: @zones,
            input_html: { multiple: true },
            wrapper_html: { class: "receivers_container"}
          = f.input :sections_ids, as: :select, label: 'Seleccione secciones', required: true, collection: @sections,
            input_html: { multiple: true },
            wrapper_html: { class: "receivers_container hidden"}
          = f.input :squares_ids, as: :select, label: 'Seleccione manzanas', required: true, collection: @squares,
            input_html: { multiple: true },
            wrapper_html: { class: "receivers_container hidden"}

      .col-xs-12
        .col-xs-12.text-right
          = f.button :submit, 'Guardar', class: ['btn', 'btn-success']

.col-xs-12.text-right.bottom
  = link_to 'Lista de mensajes', :back, class: 'btn btn-default'

