= content_for :javascript do
  = javascript_include_tag 'panels', 'jquery.storageapi'
%h3
  Zonas
  .pull-right
    = link_to 'Crear zona', new_admin_zone_path, class: 'btn btn-success'
.row
  .col-lg-12
    .panel.panel-default
      .panel-heading.panel-heading-collapsed
        Buscar
        = link_to 'javascript:void(0)', data: {tool: 'panel-collapse',
          toggle: 'tooltip'}, class: 'pull-right' do
          %em.fa.fa-plus
      .panel-wrapper.collapse
        = simple_form_for :q, { url: admin_zones_path, method: :get, defaults: {required: false} } do |f|
          .panel-body
            .col-lg-4
              = f.input :name, input_html: {value: @q[:name]}, label: 'Nombre'
            .col-lg-4
              = f.input :coordinator, as: :select, collection: @coordinators, label_method: :full_name, value_method: :id, selected: @q[:coordinator], include_blank: 'Todos', label: 'Coordinador', input_html: {data: {tool: 'select2'}}
            .col-lg-4
              = f.input :active, as: :select, collection: active_options, selected: @q[:active], include_blank: 'Todos', label: 'Activo', input_html: {data: {tool: 'select2'}}
          .panel-footer
            = f.button :submit, value: 'Buscar', class: 'btn btn-primary'
            %span.pull-right
              = link_to 'Mostrar todos', admin_zones_path, class: 'btn btn-default'

.row
  .col-lg-12  
    .panel.panel-default 
      .panel-body
        - if @zones.empty?
          %h4
            No hay zonas registradas
        - else
          %table.table.table-responsive.table-bordered.table-hover
            %thead
              %tr
                %th Nombre
                %th Coordinador
                %th Activo
                %th
            %tbody
              - @zones.each do |zone|
                %tr
                  %td
                    = zone.name.titleize
                  %td
                    = coordinator_name(zone)
                  %td
                    = active_label(zone)
                  %td
                    = link_to 'Secciones', admin_sections_path(q: {zone_id: zone.id})
                    |
                    = link_to 'Editar', edit_admin_zone_path(zone.id)
                    |
                    = link_to 'Exportar', admin_zone_export_path(zone.id, format: :xlsx)