.panel.panel-default
  .panel-heading
    %b
      Nuevo documento
  .panel-body
    = simple_form_for [:admin, @voter_document], html: {multipart: true, class:  'form-horizontal', validate: false, 'data-parsley-validate' => true } do |f|
      .col-lg-6
        = f.input :name, input_html: { maxlength: 100 }, label: 'Nombre', required: true
        = f.input :attachment, as: :file, label: 'Documento(CSV)', required: true

      .col-xs-12
        .col-xs-12.text-right
          = f.button :submit, 'Guardar', class: ['btn', 'btn-success']

.col-xs-12.text-right.bottom
  = link_to 'Lista de documentos', :back, class: 'btn btn-default'

