%h3
  Documentos importados
  .pull-right
    = link_to 'Importar documento', new_admin_voter_document_path, class: 'btn btn-success'

.row
  .col-lg-12  
    .panel.panel-default 
      .panel-body
        - if @voter_documents.empty?
          %h4
            No hay documentos importados
        - else
          %table.table.table-responsive.table-bordered.table-hover
            %thead
              %tr
                %th Nombre
                %th Archivo
                %th Fecha
                %th 
            %tbody
              - @voter_documents.each do |document|
                %tr
                  %td
                    = document.name.titleize
                  %td
                    = document.attachment.file.filename.titleize
                  %td
                    = document.created_at
                  %td
                    - unless document.imported
                      = link_to 'Importar', admin_define_voter_document_import_path(document.id)
          = paginate @voter_documents