- flash.each do |name, msg|
  - if ['notice', 'alert'].include?(name)
    - name = (name == 'alert') ? 'danger' : 'success'
  - if msg.is_a?(String)
    %div(class="alert alert-#{name} alert-dismissible")
      %button.close(type="button" data-dismiss="alert" aria-label="Close")
        %span(aria-hidden="true") &times;
      = msg
  - elsif msg.is_a?(Hash)
    %ul{class: "alert alert-#{name} alert-dismissible"}
      - msg.each do |key, value|
        %li
          %span
            %strong= "#{key}:"
            - value.each do |text|
              = text
