%aside.aside
  .aside-inner
    #nav.sidebar{'data-sidebar-anyclick-close' => ''}
      %ul.nav
        %li{class: active_menu_option('dashboard')}
          = link_to root_path do
            %span
              Panel de control
        %li.nav-heading
          Areas
        %li{class: active_menu_option('zones')}
          = link_to admin_zones_path do
            %span
              Zonas
        %li{class: active_menu_option('sections')}
          = link_to admin_sections_path do
            %span
              Secciones
        %li{class: active_menu_option('squares')}
          = link_to admin_squares_path do
            %span
              Manzanas
        %li.nav-heading
          Roles
        %li{class: active_menu_option('promoters')}
          = link_to admin_promoters_path do
            %span
              Promotores
        %li{class: active_menu_option('sympathizers')}
          = link_to admin_sympathizers_path do
            %span
              Simpatizantes
        %li.nav-heading
          Personas
        %li{class: active_menu_option('voters')}
          = link_to admin_voters_path do
            %span
              Personas
        %li{class: active_menu_option('voter_documents')}
          = link_to admin_voter_documents_path do
            %span
              Importar
        %li.nav-heading
          Comunicación
        %li{class: active_menu_option('messages')}
          = link_to admin_messages_path do
            %span
              Mensajes
        %li{class: active_menu_option('notes', {'note_type' => 'management'})}
          = link_to admin_notes_path(note_type: 'management') do
            %span
              Gestión
        %li{class: active_menu_option('notes', {'note_type' => 'activity'})}
          = link_to admin_notes_path(note_type: 'activity') do
            %span
              Actividades
        %li
          = link_to destroy_admin_session_path, method: :delete do
            %span
              Salir