!!!
%html
  %head
    %title Votantes
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1'}
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = yield :stylesheet
  %body
    .wrapper
      - unless current_admin.nil?
        = render 'layouts/header'
        = render 'layouts/sidebar'
        %section
          .content-wrapper
            = render 'layouts/flash_messages'
            = yield
      - else
        .content-wrapper
          = render 'layouts/flash_messages'
          = yield
      = javascript_include_tag 'application'
      = yield :javascript
